.container {
    background-color: rgb(208, 248, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}