.container {
    position: relative;
}

.question {
    border: 1px black solid;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 1rem;
    margin: 2%;
}

.delete {
    position: absolute;
    right: 10%;
}

.addNewTask {
    border: 1px black solid;
    margin: 2%;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1%
}

.addNewTask:hover {
    background-color: rgb(210, 210, 210);
    border: 1px rgb(210, 210, 210) solid
}

.noTask {
    padding-top: 20px;
}