.background {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#dfdfdf, #ffffff);
    color: rgb(58, 61, 63);
}